<?xml version="1.0"?>
<config>
  <modules>
    <MiTienda_PushNotifier>
      <version>0.0.1</version>
    </MiTienda_PushNotifier>
  </modules>
  <global>
    <models>
      <mitienda_pushnotifier>
        <class>MiTienda_PushNotifier_Model</class>
        <resourceModel>pushnotifier_resource</resourceModel>
      </mitienda_pushnotifier>
      <pushnotifier_resource>
        <class>MiTienda_PushNotifier_Model_Resource</class>
        <entities>
          <firebasetoken>
            <table>firebase_token</table>
          </firebasetoken>
        </entities>
      </pushnotifier_resource>
    </models>
    <events>
      <sales_order_save_after>
        <observers>
          <mitienda_pushnotifier>
            <class>mitienda_pushnotifier/observer</class>
            <method>notifyStatusChange</method>
            <type>singleton</type>
          </mitienda_pushnotifier>
        </observers>
      </sales_order_save_after>
    </events>
    <blocks>
      <mitienda_pushnotifier>
        <class>MiTienda_PushNotifier_Block</class>
      </mitienda_pushnotifier>
    </blocks>
    <helpers>
      <mitienda_pushnotifier>
        <class>MiTienda_PushNotifier_Helper</class>
      </mitienda_pushnotifier>
    </helpers>
  </global>
  <frontend>
    <routers>
      <pushnotifier>
        <use>standard</use>
        <args>
          <module>MiTienda_PushNotifier</module>
          <frontName>pushnotifier</frontName>
        </args>
      </pushnotifier>
    </routers>
    <layout>
      <updates>
        <mitienda_pushnotifier>
          <file>pushnotifier/pushnotifier.xml</file>
        </mitienda_pushnotifier>
      </updates>
    </layout>
  </frontend>
</config>
